<!-- About Section -->
<section id="about" class="content-section text-center">
  <h2>About Us</h2>
  <div class="row justify-content-center">
    <div class="col-8 col-md-5 align-self-top">
      <img class="mb-4" src="/assets/img/storefront.jpg" />
    </div>
    <div class="col-12 col-md-7 text-left">
      <p>
        <h3 class="mb-4">Haul Brothers is dedicated to providing a full range of estate solutions.</h3>

        We have been in business for over 22 years providing a highly unique service. In all of our years of assisting families, we've encountered many different situations and we have a successful track record of successful projects.
        <br><br>
        We will come to you and provide and assement of all your needs. Our primary focus is to help assist you in managing your estate.
        This includes coming to a home and assess it, remove and clean any location or item necessary.
        <br><br>

      </p>
    </div>
  </div>


</section>
