<!-- Contact Section -->
<section id="contact" class="content-section text-center container">
  <h2>Contact Us</h2>
  <p>Have Questions? Want more information on services? Interested in an assement?
    <br><br>
    Fill out the form below, email us, call us or reach us on Facebook!</p>
  <div class="row email-phone mb-1">
    <div class="col-12 col-md-6 text-center">
      <a href="tel:+13017077570"><i class="material-icons">phone</i> <br> 301-707-7570</a>
    </div>
    <div class="col-12 col-md-6 text-center">
      <a href="mailto:{{ site.email }}"><i class="material-icons">email</i> <br> {{ site.email }}</a>
    </div>
  </div>
  <div class="row justify-content-md-center mb-3 email-phone">
    <div class="col-12 col-md-6 text-center">
      <a href="https://www.facebook.com/haulbrothers/">
        <i class="material-icons">facebook</i><br>
        @haulbrothers
      </a>
    </div>
  </div>

  <div class="row banner-social-buttons">
    <div class="col">

    </div>
  </div>

  <!-- <div class="row justify-content-md-center">
    <div class="col-12 col-md-6">
      <div id="wufoo-m19ry62w0guwnmk">
        Fill out my <a href="https://haulbrothers.wufoo.com/forms/m19ry62w0guwnmk">online form</a>.
      </div>
      <script type="text/javascript">
        var m19ry62w0guwnmk;
        ( function ( d, t ) {
          var s = d.createElement( t ),
            options = {
              'userName': 'haulbrothers',
              'formHash': 'm19ry62w0guwnmk',
              'autoResize': true,
              'height': '598',
              'async': true,
              'host': 'wufoo.com',
              'header': 'hide',
              'ssl': true
            };
          s.src = ( 'https:' == d.location.protocol ? 'https://' : 'http://' ) +
            'secure.wufoo.com/scripts/embed/form.js';
          s.onload = s.onreadystatechange = function () {
            var rs = this.readyState;
            if ( rs )
              if ( rs != 'complete' )
                if ( rs != 'loaded' ) return;
            try {
              m19ry62w0guwnmk = new WufooForm();
              m19ry62w0guwnmk.initialize( options );
              m19ry62w0guwnmk.display();
            } catch ( e ) {}
          };
          var scr = d.getElementsByTagName( t )[ 0 ],
            par = scr.parentNode;
          par.insertBefore( s, scr );
        } )( document, 'script' );

      </script>
    </div>
  </div> -->
</section>
