<!-- Download Section -->
<section id="services" class="alt-bg content-section">
  <h2>Services</h2>
  <div class="row justify-content-center">
    <div class="col-12 col-md-6 text-left">
      <p>
        Managing an estate can be difficult, allow us to help make your life easier.<br><br>
        We specialize in total estate liquidation and provide a range of services including but not limited to:
      </p>
      <ul>
        <li>Estate Appraisals</li>
        <li>Estate Auctions</li>
        <li>Buyouts</li>
        <li>“Broom Swept” Cleanouts</li>
        <li>Garages, full estates, appliances, vehicles, we can haul it all!</li>
      </ul>
      <hr />
      Please <a href="#contact">Contact Us</a> for more information!
      <hr />
    </div>
    <div class="col">
      <div class="row">
        <div class="col-6 ">

          <img src="/assets/img/photo-3.jpg" />
        </div>
        <div class="col-6">
          <img src="/assets/img/photo-2.jpg" />
        </div>
        <div class="col-6">
          <img src="/assets/img/photo-1.jpg" />
        </div>
        <div class="col-6">
          <img src="/assets/img/photo-4.jpg" />
        </div>
      </div>
    </div>
  </div>

</section>
