@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz');

/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #368F8B;
}

/* Custom default button */
@import "./pulsing";


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: rgb(255, 255, 255);
}

body {
  display: -ms-flexbox;
  display: flex;
  color: #333;
  font-size: 1.2rem;
}

.cover-container {
  max-width: 42em;
}


/*
 * Header
 */
.masthead {
  margin-bottom: 2rem;
  background-color: rgba(26, 26, 26, .5);
}

.masthead-brand {
  margin-bottom: 0;
  padding: .25rem 0;
  font-family: 'Yanone Kaffeesatz', sans-serif !important;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 500;
  font-size: .9rem;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: .15rem;
  color: #fff;
  background-color: transparent;
  border-bottom: .15rem solid #368F8B;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgb(193, 193, 193);
}

.nav-masthead .nav-link+.nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }

  .nav-masthead {
    float: right;
  }
}


/*
 * Cover
 */
.cover {
  padding: 0 1.5rem;
}

.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}


/*
 * Footer
 */
.mastfoot {
  color: rgba(255, 255, 255, .5);
}


.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

h1,
h2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}

.masthead-brand {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: #fff;
}

.hero {
  background: url(../img/intro-bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 10rem 1rem 5rem 1rem;
  color: #fff;

  .lead {
    padding: 1rem;

    a {
      width: 220px;
      text-align: center;
      white-space: nowrap;
      display: block;
      margin: 50px auto;
      padding: 10px;
      box-shadow: 0 0 0 0 rgba(191, 225, 226, 0.25);
      border-radius: 10px;
      background-color: #368F8B;
      font-size: 22px;
      font-weight: normal;
      font-family: sans-serif;
      text-decoration: none !important;
      color: #ffffff;

      &:hover {
        color: #ffffff;
      }
    }

    .text {
      //border-bottom: .30rem solid #246A73;
      padding: 0 1rem
    }
  }
}

section {
  padding: 7rem 5rem;
  letter-spacing: .1rem;
  margin: auto;

  img {
    width: 100%;
    -webkit-box-shadow: -10px 7px 12px -3px #7d7d7d;
    -moz-box-shadow: -10px 7px 12px -3px #7d7d7d;
    box-shadow: -10px 7px 12px -3px #7d7d7d;
  }

  h2 {
    border-bottom: .3rem solid #333;
    margin-bottom: 1rem;
    display: inline-block;
    padding: 0 3rem 1rem 3rem;
    margin-bottom: 2rem;
  }
}

.alt-bg {
  background-color: #222222;
  box-shadow:
    inset 0px 11px 8px -10px #333,
    inset 0px -11px 8px -10px #333;

  color: #fff;

  h2 {
    border-color: #fff;
  }

  .col-6 {
    margin-bottom: 15px;
    margin-top: 15px;
  }

  img {
    width: 100%;
    border: 0;
    border-radius: 0;
    -webkit-box-shadow: 0px rgba(0, 0, 125, 0);
    -moz-box-shadow: -11px 10px 5px -4px rgba(0, 0, 125, 0);;
    box-shadow: -11px 10px 5px -4px rgba(0, 0, 125, 0);
    height: 100%;
  }
}

.social-icon {
  width: 5rem;
}

@media (max-width: 992px) {

  .hero,
  section {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.lead {
  font-size: 1.5rem;
  letter-spacing: .25rem;
}

span.contact {
  font-size: 1.5rem;
  font-weight: bold;
}

.wufoo header {
  display: none;
}

footer {
  background: #333;
  color: white;
}

.email-phone .col-12 {
  margin-bottom: 1rem;
}

.highlight {
  background: white;
  color: black;
  padding: .1rem 2rem .1rem 2rem;
  margin: auto;
  margin-bottom: 4rem;
  display: inline-block;
}

.banner-social-buttons img {
  box-shadow: unset;
}

#contact {
  i {
    font-size: 6rem;
  }
}
